/**
 * Theme Name:   ________________________________________
 * Description:  ________________________________________
 * Template:     ________________________________________
 * Author:       ________________________________________
 * Author URI:   ________________________________________
 * Version:      1.0.0
 * Tested up to: ________
 * License:      GNU General Public License v2 or later
 * License URI:  https://www.gnu.org/licenses/gpl-2.0.html
 */

/**
 * TABLE OF CONTENTS:
 *
 * 1. Global Custom Properties
 * 2. Global Styles
 * 3. Local/Scoped Styles
 *
 * @link https://every-layout.dev/rudiments/global-and-local-styling/
 * @link https://cube.fyi/
 */

/**
 * ======================================================================
 * 1. Global Custom Properties
 * ======================================================================
 */

:root {
	/**
	 * ----------------------------------------------------------------------
	 * Viewport Widths
	 * Min:  375px
	 * Max: 1440px
	 * ----------------------------------------------------------------------
	 */

	/**
	 * ----------------------------------------------------------------------
	 * Fluid Type Scale
	 * @link https://utopia.fyi/clamp/calculator?a=375,1440,14—15|17—19|20—24|25—30|29—37|35—46|42—58&p=font-size
	 * ----------------------------------------------------------------------
	 */

	--font-size-14-15: clamp(0.875rem, 0.853rem + 0.0939vw, 0.9375rem);
	--font-size-17-19: clamp(1.0625rem, 1.0185rem + 0.1878vw, 1.1875rem);
	--font-size-20-24: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
	--font-size-25-30: clamp(1.5625rem, 1.4525rem + 0.4695vw, 1.875rem);
	--font-size-29-37: clamp(1.8125rem, 1.6364rem + 0.7512vw, 2.3125rem);
	--font-size-35-46: clamp(2.1875rem, 1.9454rem + 1.0329vw, 2.875rem);
	--font-size-42-58: clamp(2.625rem, 2.2729rem + 1.5023vw, 3.625rem);

	/**
	 * ----------------------------------------------------------------------
	 * Fluid Spacing Scale
	 * @link https://utopia.fyi/space/calculator?c=375,17,1.125,1440,19,1.2,5,2,&s=0.67|0.45|0.29,1.5|2.25|3.38|5.06|7.59,3xs-xs|2xs-s|xs-m|s-l|m-xl|l-2xl|xl-3xl&g=s,l,xl,12
	 * ----------------------------------------------------------------------
	 */

	/* Space 3xs: 5px → 6px */
	--space-3xs: clamp(0.3125rem, 0.2905rem + 0.0939vw, 0.375rem);

	/* Space 2xs: 8px → 9px */
	--space-2xs: clamp(0.5rem, 0.478rem + 0.0939vw, 0.5625rem);

	/* Space xs: 11px → 13px */
	--space-xs: clamp(0.6875rem, 0.6435rem + 0.1878vw, 0.8125rem);

	/* Space s: 17px → 19px */
	--space-s: clamp(1.0625rem, 1.0185rem + 0.1878vw, 1.1875rem);

	/* Space m: 26px → 29px */
	--space-m: clamp(1.625rem, 1.559rem + 0.2817vw, 1.8125rem);

	/* Space l: 38px → 43px */
	--space-l: clamp(2.375rem, 2.265rem + 0.4695vw, 2.6875rem);

	/* Space xl: 57px → 64px */
	--space-xl: clamp(3.5625rem, 3.4085rem + 0.6573vw, 4rem);

	/* Space 2xl: 86px → 96px */
	--space-2xl: clamp(5.375rem, 5.1549rem + 0.939vw, 6rem);

	/* Space 3xl: 129px → 144px */
	--space-3xl: clamp(8.0625rem, 7.7324rem + 1.4085vw, 9rem);

	/* One-up pairs */

	/* Space 3xs-2xs: 5px → 9px */
	--space-3xs-2xs: clamp(0.3125rem, 0.2245rem + 0.3756vw, 0.5625rem);

	/* Space 2xs-xs: 8px → 13px */
	--space-2xs-xs: clamp(0.5rem, 0.39rem + 0.4695vw, 0.8125rem);

	/* Space xs-s: 11px → 19px */
	--space-xs–s: clamp(0.6875rem, 0.5114rem + 0.7512vw, 1.1875rem);

	/* Space s-m: 17px → 29px */
	--space-s–m: clamp(1.0625rem, 0.7984rem + 1.1268vw, 1.8125rem);

	/* Space m-l: 26px → 43px */
	--space-m-l: clamp(1.625rem, 1.2509rem + 1.5962vw, 2.6875rem);

	/* Space l-xl: 38px → 64px */
	--space-l-xl: clamp(2.375rem, 1.8028rem + 2.4413vw, 4rem);

	/* Space xl-2xl: 57px → 96px */
	--space-xl-2xl: clamp(3.5625rem, 2.7042rem + 3.662vw, 6rem);

	/* Space 2xl-3xl: 86px → 144px */
	--space-2xl-3xl: clamp(5.375rem, 4.0986rem + 5.446vw, 9rem);

	/* Custom pairs */

	/* Space 3xs-xs: 5px → 13px */
	--space-3xs-xs: clamp(0.3125rem, 0.1364rem + 0.7512vw, 0.8125rem);

	/* Space 2xs-s: 8px → 19px */
	--space-2xs-s: clamp(0.5rem, 0.2579rem + 1.0329vw, 1.1875rem);

	/* Space xs-m: 11px → 29px */
	--space-xs-m: clamp(0.6875rem, 0.2914rem + 1.6901vw, 1.8125rem);

	/* Space s-l: 17px → 43px */
	--space-s-l: clamp(1.0625rem, 0.4903rem + 2.4413vw, 2.6875rem);

	/* Space m-xl: 26px → 64px */
	--space-m-xl: clamp(1.625rem, 0.7887rem + 3.5681vw, 4rem);

	/* Space l-2xl: 38px → 96px */
	--space-l-2xl: clamp(2.375rem, 1.0986rem + 5.446vw, 6rem);

	/* Space xl-3xl: 57px → 144px */
	--space-xl-3xl: clamp(3.5625rem, 1.6479rem + 8.169vw, 9rem);

	/**
	 * ----------------------------------------------------------------------
	 * Custom Fluid Tokens
	 * @link https://utopia.fyi/clamp/calculator?a=375,1440
	 * ----------------------------------------------------------------------
	 */

	/**
	 * ----------------------------------------------------------------------
	 * Another Custom Properties
	 * ----------------------------------------------------------------------
	 */

	--icon-min-size: 44px;
}

/**
 * ======================================================================
 * 2. Global Styles
 *
 * Grouped by function based on
 * https://html.spec.whatwg.org/multipage/#toc-semantics.
 * ======================================================================
 */

/*
 * ----------------------------------------------------------------------
 * Root & Universal
 * ----------------------------------------------------------------------
 */

/* To match the font smoothing used in Figma design */
html {
	-webkit-font-smoothing: antialiased;
}

/* Better focus indicators (see https://www.sarasoueidan.com/blog/focus-indicators/) */
*:focus-visible {
	outline: 0.375rem double #000;
	box-shadow: 0 0 0 0.25rem #fff;
}

/*
 * ----------------------------------------------------------------------
 * Sections
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Grouping content
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Text-level semantics
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Embedded content
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Tabular data
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Forms
 * ----------------------------------------------------------------------
 */

/*
 * ----------------------------------------------------------------------
 * Interactive elements
 * ----------------------------------------------------------------------
 */

/**
 * ======================================================================
 * 3. Local/Scoped Styles
 * ======================================================================
 */

/**
 * ----------------------------------------------------------------------
 * Site Blocks
 * ----------------------------------------------------------------------
 */

/**
 * Let `main` fill the available vertical space so that if the content is shorter than the viewport height, the footer will "stick" to the bottom.
 */

.wp-site-blocks:has(> main) {
	display: flex;
	flex-direction: column;
	min-block-size: 100vh;
}

.wp-site-blocks:has(> main) > main {
	flex-grow: 1;
}

.wp-site-blocks:has(> main) > :not(main) {
	flex-shrink: 0;
}

/**
 * Remove block spacing between children (header/main/footer)
 */

.wp-site-blocks > * + :is(main, footer) {
	margin-block-start: 0;
}
