/**
 * A set of base styles for WordPress websites, a best practices CSS foundation as a reliable starting point for your CSS.
 *
 * This stylesheet provides consistent, cross-browser default styling of HTML elements, along with common and useful defaults that adhere to common developer expectations and preferences.
 *
 * Features:
 * - Normalizes styles for a wide range of elements.
 * - Fixes bugs and common browser inconsistencies.
 * - Provides common, useful defaults.
 * - Explains what the code does with detailed comments.
 *
 * Grouped by function based on https://html.spec.whatwg.org/multipage/#toc-semantics.
 */

/* <html> & all elements
======================================== */

/**
 * 1. Use the more intuitive alternative box model.
 * 2. Backgrounds images and mask images do not repeat.
 */

*,
*::before,
*::after {
	box-sizing: border-box; /* 1 */
	background-repeat: no-repeat; /* 2 */
	mask-repeat: no-repeat; /* 2 */
}

/**
 * 1. Fill the entire viewport height.
 * 2. Break words to prevent text overflow.
 * 3. Use a more readable and reasonable tab size (default is 8).
 * 4. Prevent WebKit-based browsers on iOS from automatically increasing the default font size when switching from portrait to landscape orientation (see https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/).
 */

html {
	block-size: 100%; /* 1 */
	overflow-wrap: break-word; /* 2 */
	tab-size: 4; /* 3 */
	/* stylelint-disable-next-line property-no-vendor-prefix -- Intended. */
	-webkit-text-size-adjust: none; /* 4 */
}

/**
 * 1. Smooth scrolling, but only when focused in the page to prevent unnaturally scrolling when tabbing though the results of a search.
 * 2. When users prefer reduced motion, remove timed scrolling behaviors.
 */

/* 1 */
html:focus-within {
	scroll-behavior: smooth;
}

/* 2 */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
}

/* Sections
======================================== */

/**
 * Fill the entire viewport height.
 */

body {
	min-block-size: 100%;
}

/* Grouping content
======================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
======================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height.
*/

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
======================================== */

/**
 * 1. Make replaced elements `display: block` by default.
 * 2. Responsive by preventing from growing beyond the container.
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	max-inline-size: 100%; /* 2 */
}

/**
 * Maintain intrinsic aspect ratios when `max-inline-size` is applied (`iframe`, `embed`, and `object` are also embedded, but have no intrinsic ratio, so their `block-size` needs to be set explicitly).
 */

img,
svg,
video,
canvas {
	block-size: auto;
}

/* Tabular data
======================================== */

/**
 * Make `th` alignment (default is `center`) consistent with `td` alignment.
 */

th {
	text-align: inherit;
}

/* Forms
======================================== */

/**
 * Add typography inheritance.
 */

input,
textarea,
select,
button {
	font: inherit;
	letter-spacing: inherit;
}

/**
 * Responsive by preventing from growing beyond the container.
 */

input,
textarea,
select {
	max-inline-size: 100%;
}
