/**
 * A best practices CSS foundation for WordPress websites as a reliable starting point for your CSS.
 *
 * This stylesheet provides consistent, cross-browser default styling of HTML elements, along with common and useful defaults that adhere to common developer expectations and preferences.
 *
 * What does it do?
 * - Normalizes styles for a wide range of elements.
 * - Fixes bugs and common browser inconsistencies.
 * - Provides common, useful defaults.
 * - Explains what the code does with detailed comments.
 */

/* A foundational CSS library designed specifically for WordPress websites. It provides consistent, cross-browser styling for HTML elements, along with helpful default styles that adhere to common developer practices. By normalizing styles and addressing browser inconsistencies, this library offers a reliable starting point for your CSS, ensuring a predictable and visually appealing appearance across different browsers and devices. */

/* Document
======================================== */

/*
1. Use border box sizing by default, globally. [Opinionated]
2. Backgrounds images and mask images do not repeat by default. [Opinionated]
*/

*,
*::before,
*::after {
	box-sizing: border-box; /* 1 */
	background-repeat: no-repeat; /* 2 */
	mask-repeat: no-repeat; /* 2 */
}

/*
1. Breaks words to prevent text overflow. [Opinionated]
2. Use a 4-space tab width instead of the default 8. [Opinionated]
3. Prevent WebKit-based browsers on iOS (all iOS browsers) from automatically increasing the default text size in landscape orientation (see https://css-tricks.com/your-css-reset-needs-text-size-adjust-probably/). [Opinionated]
*/

html {
	overflow-wrap: break-word; /* 1 */
	tab-size: 4; /* 2 */
	/* stylelint-disable-next-line property-no-vendor-prefix -- Intended. */
	-webkit-text-size-adjust: none; /* 3 */
}

/*
Smooth scrolling, but only when focused in the page to prevent unnaturally scrolling when tabbing though the results of a search. [Opinionated]
*/

html:focus-within {
	scroll-behavior: smooth;
}

/*
[Opinionated]
When users prefer reduced motion:
1. Remove fixed background attachment.
2. Remove transitions.
3. Remove animations/immediately jump any animation to the end point.
4. Remove timed scrolling behaviors.
*/

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		background-attachment: initial !important; /* 1 */
		transition-delay: 0s !important; /* 2 */
		transition-duration: 0s !important; /* 2 */
		animation-duration: 1ms !important; /* 3 */
		animation-delay: -1ms !important; /* 3 */
		animation-iteration-count: 1 !important; /* 3 */
		scroll-behavior: auto !important; /* 4 */
	}

	html:focus-within {
		scroll-behavior: auto; /* 4 */
	}
}

/* Sections and Headings
======================================== */

/*
Allow percentage-based heights. [Opinionated]
*/

/* stylelint-disable no-descending-specificity -- Intended. */
/* stylelint-disable no-duplicate-selectors -- Intended. */
html {
	block-size: 100%;
}

body {
	min-block-size: 100%;
}

/* Grouping content and Text-level semantics
======================================== */

/*
1. Correct the inheritance and scaling of font size in all browsers.
2. Correct the odd `em` font sizing in all browsers.
*/

pre,
code,
kbd,
samp {
	/* stylelint-disable-next-line font-family-no-duplicate-names -- Intended. */
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/*
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/* Embedded content
======================================== */

/*
1. Block display is usually what we want. [Opinionated]
2. Responsive by default. [Opinionated]
3. The `vertical-align` removes strange space-below in case authors overwrite the `display` value. [Opinionated]
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block; /* 1 */
	max-inline-size: 100%; /* 2 */
	vertical-align: middle; /* 3 */
}

/*
Maintain intrinsic aspect ratios when `max-inline-size` is applied (`iframe`, `embed, and `object` are also embedded, but have no intrinsic ratio, so their `block-size` needs to be set explicitly). [Opinionated]
*/

img,
svg,
video,
canvas {
	block-size: auto;
}

/*
There is no good reason elements default to 300px, and audio files are unlikely to come with a width attribute. [Opinionated]
*/

audio {
	inline-size: 100%;
}

/*
Change the fill color to match the text color. [Opinionated]
*/

svg:not([fill]) {
	fill: currentcolor;
}

/*
Change the border appearance. [Opinionated]
*/

iframe {
	border-color: currentcolor;
	border-style: solid;
}

/* Tabular data
======================================== */

/*
1. Collapse border spacing. [Opinionated]
2. Correct table border color inheritance in Chrome and Safari (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016).
*/

table {
	border-collapse: collapse; /* 1 */
	border-color: currentcolor; /* 2 */
}

/*
Make `th` alignment consistent with `td` alignment. [Opinionated]
*/

th {
	text-align: start;
}

/* Forms
======================================== */

/*
1. Remove the margin on controls in all browsers. [Opinionated]
2. Add typography inheritance. [Opinionated]
*/

input,
textarea,
select,
button {
	margin: 0; /* 1 */
	font: inherit; /* 2 */
	letter-spacing: inherit; /* 2 */
	word-spacing: inherit; /* 2 */
}

/*
Responsive by default by restricting sizing to the page width. [Opinionated]
*/

input,
textarea,
select {
	max-inline-size: 100%;
}

/*
1. Remove the margin. [Opinionated]
2. Change the border appearance. [Opinionated]
*/

fieldset {
	margin-inline: 0; /* 1 */
	border-color: currentcolor; /* 2 */
	border-style: solid; /* 2 */
}

/* Interactive elements
======================================== */

/*
1. Add the correct display in Safari. See:
- https://caniuse.com/mdn-html_elements_summary_display_list_item
- https://bugs.webkit.org/show_bug.cgi?id=157323
2. Change the cursor to feel it's interactive. [Opinionated]
*/

summary {
	display: list-item; /* 1 */
	cursor: default; /* 2 */
}
