/**
 * ========================================
 * GRAVITY FORMS
 * ========================================
 */

/**
 * Revert some Gravity Forms styles
 */

.gform-theme--api,
.gform-theme--foundation {
	--gf-form-footer-margin-y-start: var(--wp--preset--spacing--l);
	--gf-form-gap-x: var(--wp--preset--spacing--m);
	--gf-form-gap-y: var(--wp--preset--spacing--xl);
	--gf-label-req-gap: 0.75em;
}

.gform-theme--api,
.gform-theme--framework {
	--gf-ctrl-desc-font-size: var(--wp--preset--font-size--small);
	--gf-ctrl-desc-font-weight-error: var(--wp--custom--font-weight--body-bold);
	--gf-ctrl-label-font-size-req: var(--wp--preset--font-size--x-small);
	--gf-ctrl-label-font-weight-req: revert;
	--gf-ctrl-label-font-weight-secondary: var(--wp--custom--font-weight--body-regular);
	--gf-ctrl-size-sm: 48px;
	--gf-ctrl-size-md: 48px;
	--gf-ctrl-size-lg: 48px;
	--gf-desc-space: 1em;
	--gf-field-gap-x: 1em;
	--gf-field-gap-y: 1em;
	--gf-font-size-primary: revert;
	--gf-font-size-secondary: revert;
	--gf-font-style-base: revert;
	--gf-font-weight-secondary: var(--wp--custom--font-weight--body-bold);
	--gf-label-choice-field-space-primary: 1em;
	--gf-label-space-primary: 0.75em;
	--gf-label-space-tertiary: 0.25em;
	--gf-label-space-x-secondary: 1em;
	--gf-label-space-y-xl-secondary: 0.125em;
	--gf-line-height-secondary: var(--wp--custom--line-height--small);
	--gf-radius: 2px;
}

.gform-conversational.gform-theme--foundation {
	--gf-convo-content-gap: var(--wp--style--block-gap, 1.5em);
	--gf-convo-content-max-width: var(--wp--style--global--content-size);

	line-height: revert;
}

.gform-conversational .gform-theme--foundation {
	--gf-ctrl-font-size: var(--wp--preset--font-size--medium);
	--gf-form-footer-gap: var(--wp--preset--font-size--medium);
	--gform-theme-control-font-size: var(--wp--preset--font-size--medium);
	--gform-theme-form-footer-gap: var(--wp--preset--font-size--medium);
}

.gform-conversational.gform-theme--framework {
	--gf-convo-font-family: revert;
	--gf-convo-prog-bar-label-font-size: var(--wp--preset--font-size--small);
	--gf-convo-prog-bar-label-font-weight: revert;
	--gf-convo-prog-bar-label-line-height: revert;
	--gf-convo-welcome-message-font-size-viewport-md: revert;
	--gf-convo-welcome-message-font-size: revert;
	--gf-convo-welcome-message-font-weight: revert;
	--gf-convo-welcome-message-letter-spacing: revert;
	--gf-convo-welcome-message-line-height-viewport-md: revert;
	--gf-convo-welcome-message-line-height: revert;
}

.gform-theme--framework .gfield_list_group_item::before,
.gform-theme--framework .gform-field-label {
	--gf-local-font-size: revert;
}

.gform-theme--framework .gform-field-label--type-inline {
	--gf-local-font-weight: revert;
}

.gform-theme--framework .gform-field-label--type-sub {
	--gf-local-font-size: revert;
}

/* stylelint-disable-next-line selector-not-notation -- Intended. */
.gform-conversational .gform-theme--framework .gform-field-label:where(:not(.gfield_header_item):not(.ginput_quantity_label)) {
	--gf-ctrl-label-font-size-primary: var(--wp--preset--font-size--large);
	--gf-ctrl-label-line-height-primary: var(--wp--custom--line-height--small);
	--gform-theme-control-label-font-size-primary: var(--wp--preset--font-size--large);
	--gform-theme-control-label-line-height-primary: var(--wp--custom--line-height--small);
}

.gform-conversational.gform-theme--foundation .gform-conversational__field-footer {
	gap: var(--wp--style--block-gap, 1.5em);
	padding-block-start: var(--wp--style--block-gap, 1.5em);
}

.gform-conversational.gform-theme--foundation .gform-conversational__field-form-footer-submit,
.gform-conversational.gform-theme--foundation .gform-conversational__field-nav,
.gform-conversational.gform-theme--foundation .gform-conversational__nav-buttons {
	gap: 1em;
}

[id^="gform"].gform_wrapper.gform-theme :is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--wp--preset--font-family--heading);
	font-weight: var(--wp--custom--font-weight--heading);
	line-height: var(--wp--custom--line-height--small);
	letter-spacing: revert;
}

[id^="gform"].gform_wrapper.gform-theme h1 {
	font-size: var(--wp--preset--font-size--heading-1);
}

[id^="gform"].gform_wrapper.gform-theme h2 {
	font-size: var(--wp--preset--font-size--heading-2);
}

[id^="gform"].gform_wrapper.gform-theme h3 {
	font-size: var(--wp--preset--font-size--heading-3);
}

[id^="gform"].gform_wrapper.gform-theme h4 {
	font-size: var(--wp--preset--font-size--x-large);
}

[id^="gform"].gform_wrapper.gform-theme h5 {
	font-size: var(--wp--preset--font-size--large);
}

[id^="gform"].gform_wrapper.gform-theme h6 {
	font-size: var(--wp--preset--font-size--medium);
}

[id^="gform"].gform_wrapper.gform-theme :is(button, [type="button"], [type="image"], [type="submit"], [type="reset"]) {
	/* padding-block: 1em !important;
	padding-inline: 1.5em !important; */
	font-size: var(--wp--preset--font-size--small) !important;
	font-weight: var(--wp--custom--font-weight--body-bold) !important;
	line-height: var(--wp--custom--line-height--small) !important;
	text-transform: uppercase !important;
	cursor: revert !important;
	border: none !important;
}

.gform_button,
.gform-conversational__nav-button {
	padding-block: 1em !important;
	padding-inline: 1.5em !important;
}
