/**
 * ========================================
 * LAYOUT PRIMITIVES
 *
 * Based on https://every-layout.dev/layouts/.
 * Sorted by layout name in alphabetical order.
 * ========================================
 */

/**
 * The Sidebar
 *
 * Available classes for use:
 * with-sidebar-left
 * with-sidebar-right
 * with-sidebar[-left|-right]-[XX%]
 *
 * @link https://every-layout.dev/layouts/sidebar/
 */

[class*="with-sidebar"] {
	display: flex;
	flex-wrap: wrap;
}

[class*="with-sidebar"] > * {
	flex-grow: 1;
}

[class*="with-sidebar-left"] > :last-child,
[class*="with-sidebar-right"] > :first-child {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: var(--non-sidebar-min-size, 66.66%);
}

[class*="with-sidebar-"][class*="-20\%"] {
	--non-sidebar-min-size: 20%;
}

[class*="with-sidebar-"][class*="-25\%"] {
	--non-sidebar-min-size: 25%;
}

[class*="with-sidebar-"][class*="-33\%"] {
	--non-sidebar-min-size: 33.33%;
}

[class*="with-sidebar-"][class*="-50\%"] {
	--non-sidebar-min-size: 50%;
}

[class*="with-sidebar-"][class*="-66\%"] {
	--non-sidebar-min-size: 66.66%;
}

[class*="with-sidebar-"][class*="-75\%"] {
	--non-sidebar-min-size: 75%;
}

[class*="with-sidebar-"][class*="-80\%"] {
	--non-sidebar-min-size: 80%;
}
