/**
 * ========================================
 * UTILITY CLASSES
 *
 * Based on https://tailwindcss.com/docs/.
 * Sorted by category in alphabetical order.
 * ========================================
 */

/*
| Breakpoint prefix | Minimum width | CSS                           |
| ----------------: | ------------: | :---------------------------- |
|                md |         600px | @media (min-width: 600px) { } |
*/

/* Accessibility
   ======================================== */

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

/* Backgrounds
   ======================================== */

/* Borders
   ======================================== */

/* Effects
   ======================================== */

/* Filters
   ======================================== */

/* Flexbox & Grid
   ======================================== */

/**
 * Flex Basis
 */

.flex-basis-0 {
	flex-basis: 0 !important;
}

.flex-basis-25\% {
	flex-basis: 25% !important;
}

.flex-basis-33\% {
	flex-basis: 33.3333% !important;
}

.flex-basis-50\% {
	flex-basis: 50% !important;
}

.flex-basis-66\% {
	flex-basis: 66.6667% !important;
}

.flex-basis-75\% {
	flex-basis: 75% !important;
}

.flex-basis-100\% {
	flex-basis: 100% !important;
}

.flex-basis-4 {
	flex-basis: 4rem !important;
}

.flex-basis-8 {
	flex-basis: 8rem !important;
}

.flex-basis-12 {
	flex-basis: 12rem !important;
}

.flex-basis-16 {
	flex-basis: 16rem !important;
}

.flex-basis-20 {
	flex-basis: 20rem !important;
}

.flex-basis-24 {
	flex-basis: 24rem !important;
}

.flex-basis-28 {
	flex-basis: 28rem !important;
}

.flex-basis-32 {
	flex-basis: 32rem !important;
}

.flex-basis-36 {
	flex-basis: 36rem !important;
}

.flex-basis-40 {
	flex-basis: 40rem !important;
}

/**
 * Flex Wrap
 */

.flex-wrap {
	flex-wrap: wrap !important;
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}

/**
 * Flex Shrink
 */

.flex-shrink-0 {
	flex-shrink: 0 !important;
}

.no-shrink-children > * {
	flex-shrink: 0 !important;
}

/**
 * Gap
 */

/* Interactivity
   ======================================== */

/* Layout
   ======================================== */

/**
 * Display
 */

.hidden {
	display: none !important;
}

/* Sizing
   ======================================== */

/**
 * Max Inline Size
 */

.max-inline-size-min-content {
	max-inline-size: min-content !important;
}

/**
 * Min Inline Size
 */

.min-inline-size\:50\% {
	min-inline-size: 50% !important;
}

.min-inline-size\:66\.66\% {
	min-inline-size: 66.66% !important;
}

.min-inline-size\:75\% {
	min-inline-size: 75% !important;
}

/* Spacing
   ======================================== */

/* SVG
   ======================================== */

/* Tables
   ======================================== */

/* Transforms
   ======================================== */

/* Transitions & Animations
   ======================================== */

/* Typography
   ======================================== */

/**
 * Text Align
 */

.text-center {
	text-align: center !important;
}

.text-start {
	text-align: start !important;
}

/**
 * Text Wrap
 */

.text-wrap-balance {
	text-wrap: balance !important;
}

.text-wrap-pretty {
	text-wrap: pretty !important;
}
