/**
 * Pagination
 *
 * @link https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/query-pagination
 */

/* Remove default margin from child blocks of Pagination block */
.wp-block-query-pagination .wp-block-query-pagination-numbers,
.wp-block-query-pagination .wp-block-query-pagination-previous,
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow,
.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-next-arrow {
	margin: 0;
}

/* Improve layout of Page Numbers blocks */
.wp-block-query-pagination .wp-block-query-pagination-numbers {
	display: flex;
	flex-wrap: wrap;
	gap: var(--wp--style--block-gap, 1em);
}

/* Improve layout and sizing of blocks Page Numbers, Previous Page, & Next Page */
.wp-block-query-pagination .wp-block-query-pagination-numbers > *,
.wp-block-query-pagination .wp-block-query-pagination-previous,
.wp-block-query-pagination .wp-block-query-pagination-next {
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	min-inline-size: 44px;
	min-block-size: 44px;
	line-height: 1;
}
