/**
 * Button
 *
 * @link https://github.com/WordPress/gutenberg/tree/trunk/packages/block-library/src/button
 * @link https://wordpress.org/documentation/article/buttons-block/
 * Ref: https://piccalil.li/blog/how-i-build-a-button-component/
 */

/**
 * Default Button Style (Fill)
 */

/* Better default button layout in case it has an icon */
.wp-element-button,
.wp-block-button__link {
	--button-gap: 0.75em;
	--button-icon-size: 1.25em;
	display: inline-flex;
	flex-wrap: wrap;
	gap: var(--button-gap, 0.75em);
	align-items: center;
	justify-content: center;
}

/* Size of the icon within the button */
:is(.wp-element-button, .wp-block-button__link) > :is(img, svg) {
	flex-shrink: 0;
	inline-size: auto;
	block-size: var(--button-icon-size, 1.25em);
}

/**
 * Button Style Variation: Outline
 */

.wp-block-button.is-style-outline > :is(.wp-element-button, .wp-block-button__link):is(:hover, :focus) {
	color: var(--wp--preset--color--base);
	background-color: var(--wp--preset--color--contrast);
	border-color: var(--wp--preset--color--contrast);
}
